<h1>Wafer DGD Login</h1>

<ul>
  <li><a href="http://localhost:<%= play_port %>/gables/gables.html">Play</a></li>
  <li><a href="http://localhost:<%= play_port %>/gables/TreeOfWOE.html">Tree of WOE</a></li>
</ul>
